.answer{
	text-decoration: underline;
}

.answer:hover{
	cursor: pointer;
}

.question-container{
	text-align: center;
    margin-top: 0.5em;
    background-color: #778899ba;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0.5em;
}

.question-hidden-fields{
	display: none;
}
