#form-container{
	height: 100%;
	width: 70%;
}

form{
	height: 100%;
}

.input-textarea{
	width: 100%;
	height: 43%;
	margin-top: 2.5em;
	padding: 1em;
}

#example-list{
	text-decoration: underline; 
	color: blue;
	list-style: none;
}

#example-list:hover{
	cursor: pointer;
}
input{
	padding: 10px 15px 11px !important;
	font-size: 18px !important;
	background-color: #99ccff;
	font-weight: bold;
	text-shadow: 1px 1px #99ccff;
	color: #ffffff;
	border-radius: 5px;
	border: 1px solid #99ccff;
	cursor: pointer;
	margin-top: 1em;
}
