*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
 	overflow: scroll;
	overflow-x: hidden;
}    

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

h1{
	margin-top: 1em;
    text-align: center;
    margin-bottom: 0;
}

#main-container{
	margin-top: 1em;
	display: none;
}

#text-analysis-container{
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;
    margin-top: 0.5em;
    margin-right: 0;
    text-align: justify;
}
.text-container-left{
    width: 55vw;
    height: 50%;
    margin-left: 5vw;
    float: left;	
    padding-top: 1em;
}

.text-prediction-container{
    margin-bottom: 1em;
}
.sentence{
	margin-bottom: 10px;
	text-align: justify;
}
#explanation-container{
    display: none;
}
#main-text{
    color:white
}
#show_ex{
    display:none
}
#form-container{
    display:none
}
#tweet-container{
    display:none
}