*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
 	overflow: scroll;
	overflow-x: hidden;
}    

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

h1{
	margin-top: 1em;
    text-align: center;
    margin-bottom: 0;
}

#main-container{
	margin-top: 1em;
	display: none;
}

#text-analysis-container{
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;
    margin-top: 0.5em;
    margin-right: 0;
    text-align: justify;
}
.text-container-left{
    width: 55vw;
    height: 50%;
    margin-left: 5vw;
    float: left;	
    padding-top: 1em;
}

.text-prediction-container{
    margin-bottom: 1em;
}
.sentence{
	margin-bottom: 10px;
}
#explanation-container{
    display: none;
}
#main-text{
    color:white
}
#tweet-container{
    display:none
}
#user-text-editable,#user-tweet-input{
    background-color: white;
    color: black;
    border: 1px solid gray;
    min-height: 50px;  /* if you want Flexible textarea/div then give min-height instead of height */
    overflow: auto; 
    padding: 2px;
    resize: both;
    width: 600px;
    height:200px;
    font-size:15px;
}
#submit-text{
    font-size:20px;
}