.side-text-container{
    padding: 1em;
    width: 30vw;
    float: right;
    margin-right: 4vw;
    text-align: justify;
}

#selected-sentence-container{
	border-bottom: solid 1px;
	padding-bottom: 0.5em;
}

.selected-sentence-container-text{
	border: solid 1px;
	padding: 0.5em;
}

.coreference-sentence-container{
	border: solid 1px;
	padding: 0.5em;
}


.button-search{
	width: 49%;
    margin-right: 1%;
    height: 8em;
    float: left;
}

#button-search-yes{
	float: left;
	margin-left: 19%; 
}

#button-search-no{
	margin-left: 5%;
}

.article-info-container{
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}

.article-info-container p{
	margin-top: 5px;
}

.article-summary{
	border: solid 1px;
	padding: 0.5em;
}

#related-articles-container{
	margin-bottom: 1em;
}

#related-articles-container h1{
	margin-top: 0;
	margin-bottom: 1em;
	text-align: left;
}

#related-articles-not-downloaded-container{
	display: none;
}

#related-articles-loader{
	display: none;
}