<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta title="Automatic Sarcasm Detection system">
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Sarcasm Detection tool</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script type=text/javascript>
		  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/input_form.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}">
		<link rel="shortcut icon" href="/static/favicon.ico">
	</head>

	<body class = 'bg-dark d-flex flex-column min-vh-100 disable-highlight'>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar" >
			<div class="container-fluid">
				<div class="navbar-brand mr-auto">
					<a href="/">
						<img src="static/Xai_logo.png" height="45px">
					</a>
					<a href="/sarcastic-news">
						Sarcasm Detection tool
					</a>
				</div>
	
	
				<div class="navbar-brand" >
					<img src="static/Logo_polimi.png" height="35px">
				</div>
	
			</div>
	
	
		</nav>
	
		<div class="container-fluid" id="welcome-container">
			<div class="row">
				<div class="col text-center text-white" style="max-width: 60%; margin:auto; margin-bottom: 1%; margin-top: 1%">
					<h1>Satire & Fake News Detection Tool</h1>
				</div>
			</div>
		</div>
		<div class= 'container-fluid' id="first-choice">
			<div class='row mb-3 justify-content-center'>
				<div class ="col-2">
				<p style="color:white">Choose the type of text:</p>
				</div>
				<div class = '.col-6 .col-md-4'>
					
						<select class="form-select" aria-label="Default select example" id="choice" onChange="choose(this);">
							<option value="1" selected>News Article Classifier</option> 
							<option value="2">Social Media post</option>
						  </select>
					</div>				
				</div>
			</div>
			<div class= 'container-fluid' id="multilingual-choice" style="display: none;">
				<div class='row mb-3 justify-content-center'>
					<div class = '.col-6 .col-md-4'>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="ml">
							<label class="form-check-label" for="flexRadioDefault1" style="color:white">
							  Multilingual social media classifier
							</label>
						  </div>
						  <div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="sl" checked>
							<label class="form-check-label" for="flexRadioDefault2"  style="color:white">
							  English social media classifier
							</label>
						  </div>
						  
					  
						</div>				
					</div>
				</div>
			<div class ='container fluid' id="form-container">
				<div class="row">
					<div class="col text-center text-white" style="max-width: 60%; margin:auto; margin-bottom: 1%; margin-top: 1%">
					<h2>Insert your text here</h2>
					<p>Our tool can distinguish real, satirical or fake news articles. Insert your text in the box below
					   or load one of our examples by clicking on a button:
					</div>
				</div>
					<div class="row mb-3">
						<div class="col-1">&nbsp</div>
						<div class="col-2 text-white">
							<button class="btn btn-primary btn-sm btn-block" id="real_one" name ="real_one.txt">                
								<span style="font-size:20px;">Real</span>
								</button>
						</div>
						<div class="col-2 text-white">
					<button class = "btn btn-primary btn-sm btn-block"id ="fake_one" name ="fake_one.txt">
						<span style="font-size:20px;">Fake</span></button>
						</div>
						<div class="col-2 text-white">
							<button class="btn btn-primary btn-sm btn-block" id="satirical_one" name="sarcastic_one.txt"><span style="font-size:20px;">Satirical</span></button>
						</div>
						<div class="col-2 text-white">
							<button class="btn btn-primary btn-sm btn-block" id="terrible_one"><span style="font-size:20px;">Misclassified</span></button>
						</div>
						<div class="col-4">&nbsp</div>
					</div>
					<form class="row mb-3 g-3" id="form-text">
					<div class="col-1">&nbsp</div>
					<div class="col-md-8 text-white">
						
							<div id="user-text-editable" contenteditable="True"></div>
						</div>
					<div class="col-md-2 text-white">
						<div class = "row">
							<input class="btn btn-primary btn-sm" type='Button' id='submit-text' value="Submit">
						</div>
						<div class="row">
							<div class = 'container-fluid' id = "main-container">
									<p id = "real_value"></p>
									<p id= "main-text"></p>
									<p id="confidence"></p>
								</div>
						</div>
					</div>
					<div class="col-md-1">
						<div class='loader'></div>
					</div>
				</form>						
					
				</div>
			<div class ='container fluid' id="tweet-container">
				<div class="row">
					<div class="col text-center text-white" style="max-width: 60%; margin:auto; margin-bottom: 1%; margin-top: 1%">
					<h2>Insert your social media post here</h2>
					<p>Our tool will help you in detecting satirical,real or  social media posts.</p>
					<p id="multilingual-exp">Languages available are: English, Italian, French, Spanish, German</p>
					<p>Insert a text or load one from Twittirò dataset</p>
					</div>
				</div>
				<div class="row">
					<div class="col text-center text-white">
						<button class="btn btn-primary btn-md" id="ironic_statement"><span style="font-size:20px;">Ironic example</span></button>

					</div>
				</div>
				<div class ="row row mb-3 justify-content-center">
					<div class="col col-lg-4 text-white" style="max-width: 60%; margin:auto; margin-bottom: 1%; margin-top: 1%">
						<form id="form-text-short" style = 'text-align: center;'>
							<div id="user-tweet-input" contenteditable="True"></div>
					</div>
					<div class="col col-md-4 text-white">
					<div class ="row">
							<input class="btn btn-primary"type='Button' id='submit-tweet' value="Submit">
						</div>
					<div class="row">
						<div class = 'container-fluid' id = "tweet-text-container">
							<p id= "tweet-text"></p>
								<p id="tweet-confidence"></p>
							</div>
					</div>
					</div>
					</div>
					<div class="col col-md-4">
					<div class='loader'></div>
					</div>
						</form>
					
				</div>
			</div>
			<!-- Initially invisible, becomes visible after submitting a text -->
			<div class ="row row mb-3 justify-content-center">
				<div class="col col-lg-4 text-white" style="max-width: 60%; margin:auto; margin-bottom: 1%; margin-top: 1%">
					<p id="doc-par"></p>	
				</div>
			</div>
				<div class = "row justify-content-center">
				<div class="col col-lg-6 text-white order-1" style="max-width: 60%; margin:auto; margin-bottom: 1%; margin-top: 1%">
					<div id = "explanation-container">
						<div class = "container-fluid">
								<div class = 'col text-center text-white'>
									<p id="lgexp">Saliency map can be read as follows: darker words are the most important for the prediction.
									Green means that the text was classified as REAL, red means FAKE ,blue means SATIRICAL
									</p>
									<div class="text-container text-dark">
										<p id = "text-pred"></p>
									</div>
								</div>
							</div>	
						</div>
				</div>
			</div>
		
		

		<footer class="bg-light small px-3 py-3 mt-auto" id="footer">
			<div class="container-fluid">
				<div class="float-right">
					Anna Giovannacci
				</div>
			</div>
	</body>

	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
	<script src="{{ url_for('static', filename='js/input.js') }}"></script>

</html>
