<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta title="Automatic Fact Checking system">
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Sarcasm Detection tool</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script type=text/javascript>
		  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/feedback.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/input_form.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_text_container.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/side_text_container.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/show_why.css') }}">


	</head>

	<body>
		
		{% include 'navigation.html' %}

		{% include 'input_form_container.html' %}

		<!-- Initially invisible, becomes visibel after submitting a text -->
		<div id = "main-container">

			{% include 'main_text_container.html' %}
			{% include 'show_explanation.html' %}

		</div>
		<div id = "explanation-container">
			{% include 'text_analysis_container.html' %}
		</div>

	</body>

	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
	<script src="{{ url_for('static', filename='js/input.js') }}"></script>
	<script src="{{ url_for('static', filename='js/explanation.js') }}"></script>

</html>