<div id="form-container">
	<h1 style='text-align: center;'>Insert your text here</h1>
	<p style = 'text-align: center;'>Our tool will help you in detecting sarcastic articles or fake news with respect to real news.</p>
<!-- <p>Otherwise choose one of our examples:</p>
	<ul id='example-list'>
	    <li name="tweet1.txt">Transcript of Joe Biden's speech on the 2020 presidential debate</li>
	    <li name="tweet2.txt">Transcript of Donald Trump speech to the UN general assembly in 2018</li>
	    <li name="tweet3.txt">An article from breitbart.com</li>
	    <li name="tweet4.txt">An article from cnn.com</li>
	    <li name="tweet5.txt">Otherwise, use a transcript from a random Trump speech</li>
	</ul>-->
	<form id="form-text" style = 'text-align: center;'>
		<textarea class='input-textarea' id="user-text-input" name='text'></textarea>
		<input type='Button' id='submit-text' value="Submit">
		<div class='loader'></div>
	</form>
</div>
